#main-footer {
    display: block;
    width: 100%;
    background-color: #42213D;
}

#main-footer-content {
    color: #C2C1C2;
}

#main-footer-content > div{
    padding: 20px 0;
}

#main-footer-content a{
    color: #C2C1C2;
}

#main-footer-content a:hover{
    color: #BD4089;
}

#main-footer-content ul{
    list-style-type: none;
}
