/*'Lexend Deca'*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/*'PT Sans Narrow'*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

#main-header {
    display: block;
    width: 100%;
    min-height: 200px;
    background-color: #C2C1C2;
}

#main-header-content {
    color: #42213D;
}

#title-holder {
    float: left;
    display: flex;
    align-items: stretch;
    margin: 25px 0;
}

#logo {
    width: 150px;
    height: 150px;
}

#title-text {
    font-family: "Lexend Deca", sans-serif;
    position: relative;
}

#title {
    margin: 30px 5px;
    font-size: 3em;
    font-weight: bold;
}

#subtitle {
    margin: 20px 5px;
    position: absolute;
    bottom: 0;
    font-size: 1.4em;
    line-height: 1.4em;
}

#feedback-info-holder {
    float: right;
    margin-top: 30px;
}

.contact-item {
    font-size: 2.2em;
    line-height: 1.2em;
    font-family: 'PT Sans Narrow', sans-serif;
}

#feedback-form-link {
    margin-top: 15px;
    font-size: 1.5em;
    border-bottom: 2px dashed #42213D;
    float: right;
    transition: all 0.15s 0s ease-in-out;
    cursor: pointer;
}

#feedback-form-link:hover {
    color: #BD4089;
    border-bottom-color: #BD4089;
}

#feedback-form-link:active {
    color: #BD4089;
    border-bottom-color: #BD4089;
}