/*'Lexend Deca'*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/*'PT Sans Narrow'*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

header {
    display: block;
    width: 100%;
    min-height: 200px;
    background-color: #C2C1C2;
}


#feedback-info-holder {
    float: right;
    margin-top: 30px;
}

.contact-item {
    font-size: 2.2em;
    line-height: 1.2em;
    font-family: 'PT Sans Narrow', sans-serif;
}

#feedback-form-link {
    margin-top: 15px;
    font-size: 1.5em;
    color: #42213D;
    border-bottom: 2px dashed #42213D;
    float: right;
    transition: all 0.15s 0s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

#feedback-form-link:hover {
    color: #BD4089;
    border-bottom-color: #BD4089;
}

#feedback-form-link:active {
    color: #BD4089;
    border-bottom-color: #BD4089;
}
